* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body {
  background: rgba(48, 64, 64, 1.0); 
  background: -webkit-radial-gradient(center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);
  background: -moz-radial-gradient(center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);
  background: radial-gradient(ellipse at center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);
  font-family: 'Shadows Into Light', cursive;
  min-height: 100vh;
  color: #fff; 
}

input, button, .tasks {
  font-family: inherit;
  font-size: 18px;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 0 20px;
}

.form {
  background-color: #eee;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.input {
  padding: 10px;
  border-radius: 6px;
  margin: 10px 0;
  border: 2px solid #ccc;
  flex: 1;
  transition: border-color 0.3s;
}

.input:focus {
  outline: none;
  border-color: #b9daba; 
}

.add {
  border: none;
  background-color: #059e0f;
  color: white;
  padding: 10px;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add:hover {
  background-color: #038a0c;
}

.tasks {
  background-color: #eee;
  margin-top: 20px;
  border-radius: 6px;
  padding: 20px;
}
.tasks .task {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #ccc;
  color: black;
}
.tasks .task:not(:last-child) {
  margin-bottom: 15px;
}
.tasks .task:hover {
  background-color: #f7f7f7;
}

.task-icons {
  display: flex;
  gap: 10px;
}
@media (max-width: 600px) {
  .form {
    flex-direction: column;
    align-items: stretch;
  }

  .input, .add {
    width: 100%;
    margin: 5px 0;
  }

  .task-icons {
    justify-content: flex-end;
  }
}

